<html>
  <head></head>
  
  <body>
    <form>
      <input type='text' name='precrypted' /> Gimme a message to encrypt <br/>
      <input type='text' name='shift_value' /> And the MAGNITOOD (integer between 0 and 26) <br />
      <input type='submit' value="ENCRYPT dat MESSAGE!" />
    </form>
    <p>
      And here's your encrypted message: <br/>
      <%= "#{cipher}" %>
    </p>
  
  </body>
</html>
